:root{
  --black: rgb(18, 18, 18);
}

body{
  background-color: rgb(41, 41, 48) !important;
}

.container{
  padding-top: 5.5rem;
  padding-left: 230px;
}

.main-section{
  padding-right: 30px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  flex-wrap: wrap;
  overflow-y: auto;
}

.courseWrapper{
  all: unset;
}

.courseWrapper:hover{
  cursor: pointer;
}